@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
:root {
  --bg-color: #202020;
  --primary-color: #bb86fc;
  --variant-color: #3700b3;
  --text-color: #FFFFFF;

  --heading-font: "Oswald", open-sans;
  --text-font: "Lato", open-sans;

  --desktop-header-fs: 70px;
  --mobile-header-fs: 30px;
  --desktop-text-fs: 20px;
  --mobile-text-fs: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--text-font);
  font-size: var(--desktop-text-fs);
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  font-size: var(--desktop-header-fs);
  color: var(--text-color);
}

p,
a {
  color: var(--text-color);
  text-decoration: none;
}

button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: var(--bg-color);
  transition: transform 0.3s ease;
  margin-top: 15px;
}
button:hover {
  transform: translateY(-10px);
}
button a {
  color: var(--bg-color);
}