@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
:root {
  --bg-color: #F3F5F9;
  --primary-color: #bb86fc;
  --variant-color: #3700b3;
  --text-color: #00000;

  --heading-font: "Oswald", open-sans;
  --text-font: "Lato", open-sans;

  --desktop-header-fs: 70px;
  --mobile-header-fs: 30px;
  --desktop-text-fs: 20px;
  --mobile-text-fs: 16px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  html {
    font-family: var(--text-font);
  }
  body {
    background-color: var(--bg-color);
    font-family: var(--text-font);
    font-size: var(--desktop-text-fs);
  }
  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--heading-font);
    color: var(--text-color);
  }
  
  p,
  a {
    text-decoration: none;
  }
}

.link {
  padding: 0.75rem 0.6rem;
  display: flex;
  border-radius: 0.375rem;
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
  font-weight: 500;
}

.active {
  background-color: #ebf8ff;
  color: #1e40af;
}
/*

button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: var(--bg-color);
  transition: transform 0.3s ease;
  margin-top: 15px;
}
button:hover {
  transform: translateY(-10px);
}
button a {
  color: var(--bg-color);
} */
