# Ignore node_modules directory
node_modules
npm-debug.log

# Ignore local development environment files
.env
Dockerfile
docker-compose.yml

# Ignore logs
logs
*.log
log/

# Ignore Git files
.git
.gitignore

# Ignore other unnecessary files
.DS_Store
.vscode
.idea
coverage
dist
