.formContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-family: var(--heading-font);
    font-size: var(--desktop-header-fs);
    color: var(--text-color);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .errorPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(231, 76, 60, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .successPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(46, 204, 113, 0.8);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .fieldContainer {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: var(--text-font);
    font-size: var(--desktop-text-fs);
    color: var(--text-color);
  }
  
  .field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: var(--desktop-text-fs);
    transition: border-color 0.3s;
  }
  
  .field:focus {
    border-color: var(--primary-color);
  }
  
  .error {
    color: #e74c3c;
    font-size: 0.875em;
    margin-top: 5px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--desktop-text-fs);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .submitButton:hover {
    transform: translateY(-10px);
    background-color: var(--variant-color);
  }
  
  .loginLink {
    margin-top: 20px;
    font-size: var(--desktop-text-fs);
    color: var(--text-color);
  }
  
  .loginLinkText {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .loginLinkText:hover {
    text-decoration: underline;
  }
  